body,
      html {
        margin: 0;
        padding: 0;
        height: 100%; 
        overflow-x:hidden;
      }
      body {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        color: #141414;
        font-weight: 500;
        background-color: white;
      }
      #footer {
        display: flex;
        margin-bottom: 60px;

        justify-content: center;
      }
      #footer img.ayarati {
        width: 156px;
        height: 42px;
        margin-top: 20px;
        align-items: center;
      }
      footer img.S2 {
        width: 65px;
        height: 55px;
        margin-left: 10px;
        margin-right:0;
        margin-bottom: 10px;
        align-items: center;
      }
      form#form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      .container {
        display: flex;
        width: 100%;
        flex-direction: column; 
      }
      p {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 15px;
      }
      #left-section {
        width: 100%;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        height: 100vh;
      }

      #right-section {
        display: none;
      }

      h2 {
        font-size: 2.4rem; 
        color: black;
        margin-bottom: 20px;
        font-weight: bold;
        margin-top: -100px;
        text-align: left;
        margin-left: 35px;
      }

      p#member{
        display: none; 
      }

      div.input-group input::placeholder {
        color: #808080;
        padding-left: 10px;
        font-family:"Roboto", sans-serif;
        font-size: 1.2rem;
      }
      div.input-group{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-right:40px;
      }
      .input-group input {
        width: 80%;
        height: 48px;
        padding: 12px;
        background-color: #e5e5e5;
        border: none;
        border-radius: 10px;
        margin-bottom: 15px;
        text-align: left;
      }

      .login-btn {
        width: 80%;
        height: 60px;
        padding: 12px;
        margin-right:40px;
        background-color: #fe8400;
        color: black;
        border: none;
        border-radius: 10px;
        font-size: 1.3rem; 
        cursor: pointer;
        font-weight: bold;
      }
      hr#phone-hr{
        display: block;
        background-color: #E5E5E5;
        height: 0.01px;
        width: 78%;
        margin-top: 20px;
        margin-right:70px;
      }
      .forgot-password {
        margin-top: 10px;
        font-size: 0.875rem; 
        color: black;
        text-decoration: none;
        display: block;
        margin-left:0;
        margin-right:70px;
      }

      .register-link {
        margin-top: 20px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right:40px;
      }
      .register-link p{
        margin-right: 40px;
      }
      .register-link a {
        font-size: 1.3rem;
        font-family:'Montserrat', sans-serif;
        width: 45%; 
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: #fe8400;
        font-weight: 500;
        margin-left: 60px;
        margin-bottom: 16px; 
      }
      .Or {
      display: none;
      }
      #login-google {
        width: 80%;
        height: 60px;
        padding: 12px;
        background-color: #333333;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem; 
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0; 
        margin-right:40px;
      }
     #login-google:hover{
        background-color: #555555;
     }
      #login-google img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      div.forgot-password a {
        margin-right: 200px;
        font-size: 1rem;
        color: orange;
        text-decoration: none;
        margin-bottom: 0;
      }
      div.forgot-password hr{
        display: none;
      }
      .login-btn:hover {
        background-color: #e67600;
      }
      .register-link a:hover, .forgot-password a:hover{
        color:#e67600;
      }
      @media (min-width: 768px) {
        .container {
          flex-direction: row; 
        }
        body,html{
          margin:0;
          padding:0;
          width:100%;
          overflow: hidden;
        }
        form#form{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
      }
        #left-section {
          width: 30%;
          padding: 0 50px; 
        }
        hr#phone-hr{
          display: none;
        }
        #right-section {
          
          width: 70%;
          background-color: #fe8400;
          display: flex;
          border-radius: 20px 0 0 20px;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        p #member{
          display: block; 
        }
        div.input-group input::placeholder{
            color: #FAE0E0;
            font-family:'Montserrat', sans-serif;
        }
        div.input-group input {
          margin-right: 280px;
          width: 85%;
          height: 30px;
          padding: 12px;
          background-color: black;
          color: white;
          border: 1px solid #141010;
          border-radius: 10px;
          font-size: 16px;
          margin-left: 250px;
          margin-bottom: 10px;
          text-align: left;
        }
        h2 {
          margin-top: 16px;
          margin-left: 0px;
        }
        .register-link {
          margin-bottom: 0;
          margin-right: 60px;
          margin-left: 0px;
        }
        .register-link a {
          width: 30%;
          height: 10px;
          padding-bottom: 25px;
          margin-right: 0;
        }
        .login-btn {
          width: 87%;
          font-family:'Montserrat', sans-serif;
          margin-top: 0; 
        }

        #login-google {
          width: 70%; 
          font-family:'Montserrat', sans-serif;
          margin-left: 25px;
          margin-bottom: 0;
          font-size: 1.01rem;
          background-color: #fe8400;
          color: black;
          }
          #login-google:hover{
            background-color: #e67600;
          }
        div.forgot-password{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        div.forgot-password a {
        text-align: left;
        font-size: 16px;
        margin: 18px 0;
        color: black;
        text-decoration: none;
        padding-bottom: 8px;
        margin-bottom: 0;
        margin-right: 60px;
      }
      div.forgot-password hr{
        display: block;
        width: 320px;
        height: 3px;
        background-color: black;
        border:none;
      }
      form div.Or {
       display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        margin-bottom: 10px;
        margin-left: 30px; 
        text-align: center;
        
      }
      .Or span {
        margin-left: 20px;
        margin-right: 10px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
            }
      .Or hr {
        width: 100px;
        height: 3px;
        background-color: black;
        border:none;
      }
        .S {
          margin-bottom: 30px;
          margin-right: 0px;
        }
        #footer {
          display: none;
        }
      }